{% extends "layouts/base.twig" %}
{% block header %}
	{% include 'partials/header.twig' %}
{% endblock %}
{% block content %}
  <div class="container">
    <h1>{{post.title}}</h1>
    <div class="content">
      {% for post in posts %}
        <article>
          <h2><a href="{{post.link}}">{{post.title}}</a></h2>
          {{post.content}}
        </article>
      {% endfor %}
    </div>
  </div>
{% endblock %}