<footer>
  <div class="copyright">
    Hecho con amor en <a href="https://www.colombia.co/" class="text--underline" target="_blank" rel="noopener noreferrer">Colombia</a>
    <img src="https://wpbq.org/wcco/wordpress.svg" class="copyright__icon" alt="WordPress Logo" /> Gracias a
    <a href="https://es-co.wordpress.org/" class="text--underline" target="_blank" rel="noopener noreferrer">WordPress</a>
  </div>
</footer>
{{function('wp_footer')}}