<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no, date=no, address=no">
  <meta name="theme-color" content="#0BD8A2"/>
  <title>{{ function('wp_title') }}</title>
  <link rel="author" href="{{ site.theme.link }}/humans.txt" />
  <link rel="pingback" href="{{ site.pingback_url }}" />
  <script>document.querySelector('html').classList.remove('no-js');</script>
  {{function('wp_head')}}
  <style>
    @import url("https://fonts.googleapis.com/css?family=Archivo&display=swap");
    @import url("https://fonts.googleapis.com/css?family=Archivo:semi-bold&display=swap");
    @import url("https://fonts.googleapis.com/css?family=Archivo:bold&display=swap");
    @import url("https://fonts.googleapis.com/css?family=Archivo+Black&display=swap");
  </style>
</head>